ivaanic2_aplikacija_2-web/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/ivaanic2_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ivaanic2.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ivaanic2.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ivaanic2.nwtis.foi.org/" schemaLocation="http://localhost:8084/ivaanic2_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="zadnjihNMeteo">
<part name="parameters" element="tns:zadnjihNMeteo"/>
</message>
<message name="zadnjihNMeteoResponse">
<part name="parameters" element="tns:zadnjihNMeteoResponse"/>
</message>
<message name="zadnjiPreuzetiMeteo">
<part name="parameters" element="tns:zadnjiPreuzetiMeteo"/>
</message>
<message name="zadnjiPreuzetiMeteoResponse">
<part name="parameters" element="tns:zadnjiPreuzetiMeteoResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="zapisiUDnevnik">
<part name="parameters" element="tns:zapisiUDnevnik"/>
</message>
<message name="zapisiUDnevnikResponse">
<part name="parameters" element="tns:zapisiUDnevnikResponse"/>
</message>
<message name="vazeciMeteo">
<part name="parameters" element="tns:vazeciMeteo"/>
</message>
<message name="vazeciMeteoResponse">
<part name="parameters" element="tns:vazeciMeteoResponse"/>
</message>
<message name="Geocoder">
<part name="parameters" element="tns:Geocoder"/>
</message>
<message name="GeocoderResponse">
<part name="parameters" element="tns:GeocoderResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="zadnjihNMeteo">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zadnjihNMeteoRequest" message="tns:zadnjihNMeteo"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zadnjihNMeteoResponse" message="tns:zadnjihNMeteoResponse"/>
</operation>
<operation name="zadnjiPreuzetiMeteo">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zadnjiPreuzetiMeteoRequest" message="tns:zadnjiPreuzetiMeteo"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zadnjiPreuzetiMeteoResponse" message="tns:zadnjiPreuzetiMeteoResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajRequest" message="tns:dajSveMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajResponse" message="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="zapisiUDnevnik">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zapisiUDnevnikRequest" message="tns:zapisiUDnevnik"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/zapisiUDnevnikResponse" message="tns:zapisiUDnevnikResponse"/>
</operation>
<operation name="vazeciMeteo">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/vazeciMeteoRequest" message="tns:vazeciMeteo"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/vazeciMeteoResponse" message="tns:vazeciMeteoResponse"/>
</operation>
<operation name="Geocoder">
<input wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/GeocoderRequest" message="tns:Geocoder"/>
<output wsam:Action="http://ws.ivaanic2.nwtis.foi.org/GeoMeteoWS/GeocoderResponse" message="tns:GeocoderResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="zadnjihNMeteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjiPreuzetiMeteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zapisiUDnevnik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vazeciMeteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Geocoder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/ivaanic2_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>